@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;900&display=swap');

body{
    background-color: #F6F7FB;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 45px;
    font-weight: bolder;
    margin: 10px;
}

p{
    font-size: 15px;
    font-weight: lighter;
   }
   
.parrafo{
    width:350px;
    margin: 30px;
}   
.principal{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contenedor {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
 
  .tarjeta{
    color: #2e2e31;
    padding: 40px 20px;
    background-color : white;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    box-sizing: border-box;  
    padding: 30px;  
  }
  
  .imagenes{
    width: 90px;
    height: 90px;
  }
  
 .txt{
    font-weight: bold;
    font-size: 20px;
 }